use asdf

export DATABASE_URL="postgres://objekt_adm:objekt123@localhost:5432/objekt_db?sslmode=disable"
export DBMATE_MIGRATIONS_DIR="./db/migrations"
export DBMATE_MIGRATIONS_TABLE="dbmate_migrations"
