# Ignore everything
*

# But not these files...
!/.gitignore
!/.pre-commit-config.yaml

!*.go
!go.sum
!go.mod
!*.sql

!README.md
!LICENSE
!.air.toml
!.env
!docker-compose.yml

# !Makefile

# Pulumi
!/infra/*.yaml

# ...even if they are in subdirectories
!*/
!/.github/*
